# Calculo de Sobrevivencia en el Titanic.

## Uso de Regresión Logística para calcular si un pasajero sobrevivirá dado los siguientes parametros: clase en la que viajaba, edad, número de hermanos y costo del pasaje.

In [6]:
# import pandas and Logistic Regression from sklearn.
import pandas as pd
from sklearn.linear_model import LogisticRegression

# crear dataframe
train = pd.read_csv('./titanic.csv')

In [7]:
# Eliminar todas las filas que poseen uno o mas valores nulos.
train.dropna(inplace=True)

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [8]:
# features y target
target = 'Survived'
features = ['Pclass', 'Age', 'SibSp', 'Fare']

# Matriz X y vector Y
X = train[features]
y = train[target]

In [11]:
X.head()

    Pclass   Age  SibSp     Fare
1        1  38.0      1  71.2833
3        1  35.0      1  53.1000
6        1  54.0      0  51.8625
10       3   4.0      1  16.7000
11       1  58.0      0  26.5500

In [12]:
# Valor uno para indicar si la persona sobrevivio, cero para lo contrario.
y.head()

1     1
3     1
6     0
10    1
11    1
Name: Survived, dtype: int64

In [16]:
# Modelo y su entrenamiento.
model = LogisticRegression()
model.fit(X, y)

C:\Users\MSI\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [17]:
# Presicion del modelo.
model.score(X, y)

0.7049180327868853

In [15]:
#Crear Pickle del modelo, es decir, un "ejecutable" con el cual se puede obtener resultados utilizando nuevos datos.
import pickle
filename= 'model_titanic.pkl'
pickle.dump(model, open(filename, 'wb'))